@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div id="AdminMessages">
    <ul id="NotificationList"></ul>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ClientNotification.js"></script>